.card-100 {
  height: 100%;
}
.card-100 .card-body {
  height: 100%;
  overflow-y: auto;
}
.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  height: 100%;
}
.empty-text {
  color: #999;
  font-size: 16px;
  font-weight: 600;
}


.app {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
}


.title {
  margin-bottom: 0;
}




.main {
  height: 100%;
  flex-grow: 1;

  overflow-x: hidden;
  overflow-y: auto;
}

.page-header {
  position: relative;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}
.page-header-main {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 12px;
}
.page-header-main .breadcrumb {
  font-size: 18px;
  line-height: 32px;
  font-weight: 600;
}
.page-header-extra {
  display: flex;
  flex-direction: row;
  padding: 12px;
  border-top: 1px solid rgba(0,0,0,0.05);
}

.toolbar-item {
  margin-bottom: 12px;
}
.page-content {
  padding: 12px;
}
.page-footer {
  padding: 12px;
  background-color: #fff;
}


.aside {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: none;
  flex: 0 0 240px;
  width: 240px;
  height: 100%;
  overflow: hidden;
  background-color: #1a1d30;
}
.aside-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.aside-logo {
  display: block;
  line-height: 24px;
  padding: 16px 24px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}
.aside-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: auto;
  padding: 16px;
  line-height: 24px;
  color: #fff;
  border-top: 1px solid rgba(255,255,255,0.1);
}
.aside-user .ava {
  width: 30px;
  height: 30px;
  margin-right: 16px;
}
.aside-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.aside-nav .nav-item {
  padding: 0 12px;
}
.aside-nav .nav-link {
  display: flex;
  align-items: center;
  flex: 100%;
  padding: 8px 12px;
  font-size: 15px;
  cursor: pointer;
  line-height: 24px;
  color: rgba(255,255,255,0.7);
  border-radius: 2px;
}
.aside-nav .nav-link .icon {
  margin-right: 16px;
}
.aside-nav .nav-link:hover {
  background-color: rgba(255,255,255,0.05);
}
.aside-nav .nav-link.active {
  background-color: #5c6ac4;
  color: #fff;
}
.aside-nav .nav-item .badge {
  margin-left: auto;
  background-color: rgba(255,255,255,0.15);
}

@media (min-width: 992px) {
  .aside {
    position: static;
    display: block;
  }

}


/* Login */
.login {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.login-form {
  max-width: 300px;
 
  margin: auto;
}

/* Tab */
/* .tabs {
  
} */
.tabs-list {
  padding: 0 24px 0;
  border-bottom: 1px solid #e9ecef;
}
.tabs-list-item {
  position: relative;
  line-height: 24px;
  padding: 12px 0;
  cursor: pointer;
}
.tabs-list-item + .tabs-list-item {
  margin-left: 24px;
}
.tabs-list-item.active {
  font-weight: 600;
}
.tabs-list-item.active:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 3px;
  background-color: #60609c;
  z-index: 2;
}
.tabs-list-item .count {
  color: #999;
  margin-left: 6px;
}


/* Items */
.item-images img {
  width: 100%;
  height: 100%;
}

/* Categories */
.categories-table .tDnD_whileDrag {
  box-shadow: 0 0 5px rgba(0,0,0,0.05);
}
.categories-table .handle {
  cursor: move;
}

/* Chat */

.chat .card {
  flex-direction: row;
  background-color: #fff;
  height: calc(100vh - 80px);
}
.chat-aside {
  width: 300px;
  overflow: hidden;
}
.chat-main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-left: 1px solid #dee2e6;
  overflow: hidden;
}


.chat-list-item {
  display: flex;
  flex-direction: row;
  padding: 12px;
  cursor: pointer;
}
.chat-list-item:hover {
  background-color: rgba(0,0,0,0.05);
}
.chat-list-item.active {
  background-color: #e5e5e5;
}

.chat-item-image {
  width: 40px;
  height: 40px;
  flex:  0 0 40px;
}


.chat-item-desc {
  flex-grow: 1;
  margin-left: 12px;
}
.chat-item-name {
  line-height: 20px;
  font-weight: 600;
}
.chat-item-time {
  float: right;
  line-height: 20px;
  color: rgba(0,0,0,0.5);
  font-size: 12px;
}
.chat-item-message {
  line-height: 20px;
  color: rgba(0,0,0,0.5);
  font-size: 13px;
}
.chat-list-item .badge {
  float: right;
  color: #fff;
  background-color: #f75e77;
}




.chat-messages {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  overflow-y: auto;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}
.chat-messages-date {
  font-size: 12px;
  color: #999;
  text-align: center;
  padding: 12px;
}
.chat-message {

  padding: 0 12px 12px;
}
.chat-message-inner {
  display: flex;
  align-items: center;
}
.chat-message-author {
  margin-bottom: 6px;
  font-weight: 600;
}
.chat-message-text {
  display: inline-block;
  padding: 4px 12px;
  line-height: 24px;
  background-color: aliceblue;
  border-radius: 2px;
}

.chat-message {
  padding-right: 20%;
}
/* .chat-message.out .chat-message-inner {
 
} */


.chat-message-time {
  font-size: 12px;
  color: #999;
  padding-left: 12px;
}
.chat-message-status {
  font-size: 12px;
  color: #999;
  padding-left: 6px;
}
.chat-message.to .chat-message-text {
  color: #fff;
  background-color: #5c6ac4;
  
}

.chat-message.out .chat-message-text {

  background-color: #e5e5e5;
}
.chat-header {
  min-height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  padding: 0 12px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.chat-body {
  height: 100%;
  overflow: hidden;
  position: relative;
}
.chat-footer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-grow: 1;

  border-top: 1px solid rgba(0, 0, 0, 0.125);
}
.chat-footer .btn {
  padding: 7px 11px;

}

.chat-footer .form-control {
  height: 40px;
  padding: 7px 0;
  background-color: transparent;
  border-color: transparent;
  border-radius: 0;
  resize: none;
}



.ava {
  width: 100%;
  height: 100%;
  border-radius: 2px;
}



/* Table */
.sort {
  color: #000;
}
.sort:hover {
  color: #fff;
}
.sort.active {
  color: #60609c;
}




.table-action {
  display: flex;
  white-space: nowrap;
}
.table-action .btn-icon {
  line-height: 18px;
  padding: 2px 3px;
  color: #999;
}
.table-action .btn-icon:hover {
  color: #000;
  background-color: rgba(0, 0, 0, 0.1);
}
.table-action .btn-icon .icon {
  line-height: 18px;
}





dl {
  display: flex;
  flex-direction: row;
  margin-bottom: 6px;
}
dl:last-child {
  margin-bottom: 0;
}
dt {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  margin: 0;
  color: #999;
  font-weight: normal;
}
dd {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
  margin: 0;
}



/* Users */
.user-header {
  display: flex;
  flex-direction: row;

}
.user-info {
  padding-left: 12px;
}
.user-photo {
  width: 100px;
  height: 100px;
}
.user-name {
  font-size: 18px;
}
.user-type {
  color: #999;
}
.user-items {
  margin-top: 6px;
}

div.box{
  position: fixed;
  bottom: 12px;
  right: 12px;
  z-index: 10;
}